@model IEnumerable<InventarioAplicativo.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h1>Itens</h1>
<hr />

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Und)
            </th>
            <th>
                <a asp-action="AddOrEdit" class="btn btn-outline-success">
                    <i class="far fa-plus-square"></i>
                    Adicionar novo item
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Und)
            </td>
            <td>
                <a asp-action="AddOrEdit" asp-route-id="@item.ItemID"><i class="fa fa-marker fa-lg"></i></a>
                <a asp-action="Delete" asp-route-id="@item.ItemID" class="text-danger ml-1" onclick="return confirm('Tem certeza que deseja exluir o item?')">
                    <i class="fa fa-trash-alt fa-lg"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
